﻿@model RentACar.Models.Korisnik
@{
    ViewBag.Title = "Prijava";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        PorukeValidacija();

        $("#forma-prijava").validate({
            rules: {
                Email: {
                    required: true,
                    email: true
                },
                Lozinka: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
    
</script>
<div class="page-header"></div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title"><h4 class="text-center">@ViewBag.Title</h4></div>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Prijava", "Korisnik", FormMethod.Post, new { @id = "forma-prijava" }))
                    {
                        <span class="error">@Html.ValidationSummary(true, "Prijava nije uspjela.")</span>
                        <fieldset>

                            <div class="form-group">
                                <label>Email</label>
                                @Html.TextBoxFor(u => u.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Email, null, new { @class = "inline-help error" })
                            </div>

                            <div class="form-group">
                                <label>Lozinka</label>
                                @Html.TextBoxFor(u => u.Lozinka, new { @class = "form-control", @type = "password" })
                                @Html.ValidationMessageFor(u => u.Lozinka, null, new { @class = "inline-help error" })
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="Prijava" />
                                @Html.ActionLink("Odustani", "Index", "Home", null, new { @class = "btn btn-default" })
                            </div>
                        </fieldset>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

