﻿<script type="text/javascript">
    $(document).ready(function () {
        $('#lista-vozila').load('/Vozilo/ListaVozila');

        $('#prikazi-vozila').click(function () {
            $('#prikazi-vozila').addClass('active');
            $('#prikazi-modele-vozila').removeClass('active');
            $('#prikazi-proizvodjace').removeClass('active');

            $('#lista-modela-vozila').addClass('hidden');
            $('#lista-proizvodjaca').addClass('hidden');
            $('#lista-vozila').removeClass('hidden');

            $('#lista-vozila').load('/Vozilo/ListaVozila');
        });

        $('#prikazi-modele-vozila').click(function () {
            $('#prikazi-vozila').removeClass('active');
            $('#prikazi-modele-vozila').addClass('active');
            $('#prikazi-proizvodjace').removeClass('active');

            $('#lista-modela-vozila').removeClass('hidden');
            $('#lista-proizvodjaca').addClass('hidden');
            $('#lista-vozila').addClass('hidden');

            $('#lista-modela-vozila').load('/ModelVozila/Index');
        });

        $('#prikazi-proizvodjace').click(function () {
            $('#prikazi-vozila').removeClass('active');
            $('#prikazi-modele-vozila').removeClass('active');
            $('#prikazi-proizvodjace').addClass('active');

            $('#lista-modela-vozila').addClass('hidden');
            $('#lista-proizvodjaca').removeClass('hidden');
            $('#lista-vozila').addClass('hidden');

            $('#lista-proizvodjaca').load('/Proizvodjac/Index');
        });
    });
</script>

<ul class="nav nav-tabs margin-top-20">
    <li class="active" id="prikazi-vozila"><a href="#">Vozila</a></li>
    <li id="prikazi-modele-vozila"><a href="#">Modeli</a></li>
    <li id="prikazi-proizvodjace"><a href="#">Proizvođači</a></li>
</ul>

<div class="hidden" id="lista-modela-vozila"></div>

<div class="hidden" id="lista-proizvodjaca"></div>

<div id="lista-vozila"></div>