﻿@model IEnumerable<RentACar.DAL.Vozilo>
@{
    ViewBag.Title = "Vozila";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-vozilo").click(function (e) {
            e.preventDefault();
            var voziloID = $(this).closest("tr")
                                   .find(".vozilo-id")
                                   .text();

            var voziloRegistracija = $(this).closest("tr")
                                   .find(".vozilo-naziv")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete vozilo " + voziloRegistracija + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/Vozilo/ObrisiVozilo",
                    data: "ID=" + voziloID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Vozilo" + voziloRegistracija + " je uspješno obrisano.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja vozila " + voziloRegistracija);
                        }

                    }
                });
            }
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("KreirajVozilo", "Vozilo")"><i class="glyphicon glyphicon-plus"></i> Novo vozilo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Registarski broj</th>
                    <th>Boja</th>
                    <th>Model</th>
                    <th>Godina proizvodnje</th>
                    <th>Proizvođač</th>
                    <th>Cijena po danu</th>
                    <th>Filijala</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="filijala-tabela">
                @foreach (var vozilo in Model)
                {
                    <tr>
                        <td class="hidden vozilo-id">@vozilo.ID</td>
                        <td><img src="@vozilo.Slika" alt="@vozilo.ModelVozila.Naziv" width="150" class="topvozila-slika" /></td>
                        <td class="vozilo-registracija">@vozilo.RegistarskiBroj</td>
                        <td><span style="background-color: @vozilo.Boja;" class="vozilo-boja"></span></td>
                        <td>@vozilo.ModelVozila.Naziv</td>
                        <td>@vozilo.GodinaProizvodnje</td>
                        <td>@vozilo.ModelVozila.Proizvodjac.Naziv</td>
                        <td>@vozilo.CijenaPoDanu</td>
                        <td>@vozilo.Filijala.Naziv</td>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("UrediVozilo", "Vozilo", new { ID = vozilo.ID })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger obrisi-vozilo" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

