﻿@model RentACar.Models.Zakup

@{
    ViewBag.Title = "Nova rezervacija";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        isDostupno = false;
        PorukeValidacija();

        var zakupID = guid();

        $('#GradLista').select2({
            placeholder: "Izaberite grad..."
        }).on("change", function () {
            $.ajax({
                type: "GET",
                url: "/Zakup/DohvatiFilijale",
                data: "ID=" + $("#GradLista").val(),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    $('#FilijalaLista').empty();
                    $('#FilijalaLista').select2({ data: rezultat, placeholder: "Filijale..." });
                    DohvatiVozila();
                    ProvjeriDostupnostVozila();
                }
            });
        });

        $('#FilijalaLista').select2({
            placeholder: "Izaberite filijalu..."
        }).on("change", function () {
            DohvatiVozila();
        });

        $("#DatumZakupa").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: 'today',
            maxDate: "+90D",
            showButtonPanel: true,
            onSelect: function (selected) {
                $("#DatumPovratka").datepicker("option", "minDate", selected);
                $('#ukupno-bez-pdv').text(UkupnoBezPDV());
                $('#ukupno-sa-pdv').text(UkupnoSaPDV());
                if ($("#DatumPovratka").val() != "" && $("#DatumZakupa").val() != "")
                    ProvjeriDostupnostVozila();

                $('#obrisiDatume').removeClass('hidden');
            }
        });

        $("#DatumPovratka").datepicker({
            dateFormat: "dd-mm-yy",
            minDate: 'today',
            maxDate: "+90D",
            showButtonPanel: true,
            onSelect: function (selected) {
                $("#DatumZakupa").datepicker("option", "maxDate", selected);
                $('#ukupno-bez-pdv').text(UkupnoBezPDV());
                $('#ukupno-sa-pdv').text(UkupnoSaPDV());
                if ($("#DatumPovratka").val() != "" && $("#DatumZakupa").val() != "")
                    ProvjeriDostupnostVozila();
                $('#obrisiDatume').removeClass('hidden');
            }
        });

        $('#obrisiDatume').on('click', function(){
            $('#DatumZakupa, #DatumPovratka').val('');
            $("#DatumZakupa").datepicker("option", "maxDate", null);
            $("#DatumPovratka").datepicker("option", "minDate", null);
            $('#obrisiDatume').addClass('hidden');
            $('#vozilo-nije-dostupno').addClass('hidden');
        });

        if ($('#GradLista').val() != "") {
            $.ajax({
                type: "GET",
                url: "/Zakup/DohvatiFilijale",
                data: "ID=" + $("#GradLista").val(),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat.length > 0) {
                        $('#FilijalaLista').select2({ data: rezultat, placeholder: "Filijale..." });
                    }
                    DohvatiVozila();
                }
            });
        }
        
        DetaljiKlijenta();


        $('#VoziloLista').select2().on("change", function () {
            DetaljiVozila();
            ProvjeriDostupnostVozila();
        });

        $('#novi-zakup').click(function (e) {
            e.preventDefault();

            if (isDostupno && $("#forma-rezervacija").valid())
                $.ajax({
                    type: "POST",
                    url: "/Klijent/UrediKlijenta",
                    data: JSON.stringify({
                        Ime: $('#klijent-ime').val(),
                        Prezime: $('#klijent-prezime').val(),
                        JMBG: $('#klijent-jmbg').val(),
                        BrojLK: $('#klijent-brojLK').val(),
                        BrojVD: $('#klijent-brojVD').val(),
                        BrojTelefona: $('#klijent-telefon').val(),
                        ID: klijentID
                    }),
                    contentType: 'application/json; charset=utf-8',
                    beforeSend: function() {
                        $('#loading-modal').modal('show');
                    },
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            $.ajax({
                                type: "POST",
                                url: "/Zakup/KreirajZakup",
                                data: JSON.stringify({
                                    KlijentID: klijentID,
                                    VoziloID: $('#VoziloLista').val(),
                                    FilijalaID: $('#FilijalaLista').val(),
                                    StatusID: "2",
                                    Komentar: $('#zakup-komentar').val(),
                                    DatumZakupa: $('#DatumZakupa').val(),
                                    DatumPovratka: $('#DatumPovratka').val(),
                                    Ukupno: $('#ukupno-sa-pdv').text(),
                                    SifraZakupa: SerijskiBroj(),
                                    ID: zakupID
                                }),
                                contentType: 'application/json; charset=utf-8',
                                complete: function () {
                                    $('#loading-modal').modal('hide');
                                },
                                success: function (rezultat) {
                                    window.location.href = "/";
                                }
                            });
                        }
                        else if (rezultat == "ERROR_POSTOJI") {
                            alert("Klijent sa emailom " + $('#klijent-email').val() + " već postoji. Molimo Vas da odaberete drugu email adresu.");
                        }

                    }
                });
            else {
                $('#vozilo-nije-dostupno').removeClass('hidden');
                $('html, body').animate({
                    scrollTop: $("#vozilo-nije-dostupno").offset().top - $("#vozilo-nije-dostupno").offset().top + $("#vozilo-nije-dostupno").scrollTop()
                }, 2000);
            } 
        });

        $("#forma-rezervacija").validate({
            rules: {
                EmailKlijenta: {
                    required: true,
                    email: true
                },
                ImeKlijenta: {
                    required: true,
                    minlength: 2
                },
                PrezimeKlijenta: {
                    required: true,
                    minlength: 2
                },
                JMBGKlijenta: {
                    required: true,
                    minlength: 13,
                    maxlength: 13,
                    digits: true
                },
                BrojLKKlijenta: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                BrojVDKlijenta: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                TelefonKlijenta: {
                    minlength: 9,
                    maxlength: 10,
                    digits: true
                },
                DatumZakupa: {
                    required: true
                },
                DatumPovratka: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

    });

    function DetaljiVozila() {
        return $.ajax({
            type: "GET",
            url: "/Vozilo/DetaljiVozila",
            data: "ID=" + $("#VoziloLista").val(),
            contentType: 'application/json; charset=utf-8',
            success: function (rezultat) {
                if (rezultat.Automatik)
                    $('#vozilo-automatik').text('Da');
                else
                    $('#vozilo-automatik').text('Ne');
                $('#vozilo-brojOsoba').text(rezultat.BrojOsoba);
                $('#vozilo-tipVozila').text(rezultat.TipVozila);
                $('#vozilo-tipGoriva').text(rezultat.TipGoriva);
                $('#vozilo-cijenaPoDanu').text(rezultat.CijenaPoDanu);
                $('#vozilo-godinaProizvodnje').text(rezultat.GodinaProizvodnje);
                if (rezultat.Slika != null)
                    $('#vozilo-slika').attr('src', rezultat.Slika);
                else
                    $('#vozilo-slika').attr('src', '/Slike/bez-slike.png');
                $('#detalji-vozila').removeClass('hidden');

                $('#ukupno-bez-pdv').text(UkupnoBezPDV());
                $('#ukupno-sa-pdv').text(UkupnoSaPDV());

                $('#vozilo-boja').css('background-color', rezultat.Boja);
            }
        });
    }

    function DetaljiKlijenta() {
        $.ajax({
            type: "GET",
            url: "/Klijent/DetaljiKlijenta",
            data: "Email=" + '@Request.Params["Email"]',
            success: function (rezultat) {
                if (rezultat != "ERROR") {
                    $('#klijent-ime').val(rezultat.Ime);
                    $('#klijent-prezime').val(rezultat.Prezime);
                    $('#klijent-jmbg').val(rezultat.JMBG);
                    $('#klijent-brojLK').val(rezultat.BrojLK);
                    $('#klijent-brojVD').val(rezultat.BrojVD);
                    $('#klijent-telefon').val(rezultat.BrojTelefona);
                    $('#klijent-email').val(rezultat.Email);
                    $('#klijent-email').attr('readonly', 'readonly');
                    klijentID = rezultat.ID;
                }
            }
        });
    }

    function DohvatiVozila() {
        $.ajax({
            type: "GET",
            url: "/Zakup/DohvatiVozila",
            data: "ID=" + $('#FilijalaLista').val(),
            contentType: 'application/json; charset=utf-8',
            success: function (rezultat) {
                $('#VoziloLista').empty();
                $('#VoziloLista').select2({
                    data: rezultat,
                    placeholder: "Izaberite vozilo..."
                });

                DetaljiVozila();
            }
        });
    }

    function UkupnoBezPDV() {
        var datumPovratka = $('#DatumPovratka').datepicker("getDate");
        var datumZakupa = $('#DatumZakupa').datepicker("getDate");

        if (datumPovratka != null && datumZakupa != null) {
            var timeDiff = Math.abs(datumPovratka.getTime() - datumZakupa.getTime());
            var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24));
            var cijena = parseFloat($('#vozilo-cijenaPoDanu').text()) * diffDays;
            return cijena;
        }

        return 0;
    }

    function UkupnoSaPDV() {
        var ukupnoBezPDV = parseFloat($('#ukupno-bez-pdv').text());

        if (ukupnoBezPDV != null) {
            var cijena = ukupnoBezPDV + (ukupnoBezPDV * 0.17);

            return cijena;
        }

        return 0;
    }

    function ProvjeriDostupnostVozila() {
        $.ajax({
            type: "POST",
            url: "/Zakup/ProvjeriDostupnostVozila",
            data: JSON.stringify({
                ID: $('#VoziloLista').val(),
                DatumOd: $('#DatumZakupa').datepicker("getDate"),
                DatumDo: $('#DatumPovratka').datepicker("getDate")
            }),
            contentType: 'application/json; charset=utf-8',
            success: function (rezultat) {
                if (rezultat == "OK"){
                    $('#vozilo-nije-dostupno').addClass('hidden');
                    isDostupno = true;
                }
                else {
                    isDostupno = false;
                    $('#vozilo-nije-dostupno').removeClass('hidden');
                    $('html, body').animate({
                        scrollTop: $("#vozilo-nije-dostupno").offset().top - $("#vozilo-nije-dostupno").offset().top + $("#vozilo-nije-dostupno").scrollTop()
                    }, 2000);
                }
                    
            }
        });
    }
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <form name="NovaRezervacija" id="forma-rezervacija">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Osnovne informacije</h3>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Grad</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownList("Grad", (IEnumerable<SelectListItem>)ViewBag.Gradovi, new { @id = "GradLista", @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Filijala</label>
                            </div>
                            <div class="editor-field">
                                <select id="FilijalaLista" class="form-control"></select>
                                @Html.ValidationMessageFor(u => u.FilijalaID, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Polazak</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.DatumZakupa, new { @class = "form-control", @required = "" })
                                @Html.ValidationMessageFor(u => u.DatumZakupa, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Povratak</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.DatumPovratka, new { @class = "form-control", @required="" })
                                @Html.ValidationMessageFor(u => u.DatumPovratka, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="hidden btn btn-danger" id="obrisiDatume">Poništi</button> 
                            <div class="error">
                                <p id="vozilo-nije-dostupno" class="hidden"><i class="glyphicon glyphicon-exclamation-sign"></i> Odabrano vozilo nije dostupno u navedenom periodu.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Ostale informacije</h3>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Detalji vozila</h3>
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Vozilo</label>
                                    </div>
                                    <div class="editor-field">
                                        <select id="VoziloLista" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="hidden" id="detalji-vozila">
                                    <dl id="vozilo-opis">
                                        <dt><i class="glyphicon glyphicon-eye-open"></i> Boja: <span id="vozilo-boja" class="vozilo-boja"></span></dt>
                                        <dt><i class="glyphicon glyphicon-user"></i> Broj osoba: <span id="vozilo-brojOsoba"></span></dt>
                                        <dt><i class="glyphicon glyphicon-cog"></i> Automatik: <span id="vozilo-automatik"></span></dt>
                                        <dt><i class="glyphicon glyphicon-briefcase"></i> Cijena po danu: <span id="vozilo-cijenaPoDanu"></span> KM</dt>
                                        <dt><i class="glyphicon glyphicon-calendar"></i> Godina proizvodnje: <span id="vozilo-godinaProizvodnje"></span></dt>
                                        <dt><i class="glyphicon glyphicon-adjust"></i> Tip goriva: <span id="vozilo-tipGoriva"></span></dt>
                                        <dt><i class="glyphicon glyphicon-road"></i> Tip vozila: <span id="vozilo-tipVozila"></span></dt>
                                    </dl>

                                    <img id="vozilo-slika" width="300" alt="Alternate Text" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h3>Detalji klijenta</h3>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Email</label>
                                        <input type="email" name="EmailKlijenta" id="klijent-email" class="form-control" required />
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Ime</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="ImeKlijenta" id="klijent-ime" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Prezime</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="PrezimeKlijenta" id="klijent-prezime" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>JMBG</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="JMBGKlijenta" id="klijent-jmbg" class="form-control" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Broj lične karte</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="BrojLKKlijenta" id="klijent-brojLK" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Broj vozačke dozvole</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="BrojVDKlijenta" id="klijent-brojVD" class="form-control" required />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Broj telefona</label>
                                        </div>
                                        <div class="editor-field">
                                            <input type="text" name="TelefonKlijenta" id="klijent-telefon" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="editor-label">
                                            <label>Komentar</label>
                                        </div>
                                        <div class="editor-field">
                                            <textarea id="zakup-komentar" rows="4" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Ukupna cijena u KM</h3>
                    <ul>
                        <li>Ukupno bez PDV: <span class="text-muted" id="ukupno-bez-pdv"></span></li>
                        <li>PDV: <span class="text-muted">17.00 %</span></li>
                        <li>Ukupno sa PDV: <span class="text-muted" id="ukupno-sa-pdv"></span></li>
                    </ul>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" id="novi-zakup" class="btn btn-primary">Rezerviši</button>
                @Html.ActionLink("Odustani", "Index", "Home", null, new { @class = "btn btn-default" })
            </div>
        </form>
    </div>
</div>

@*Modal loading*@
<div class="modal modal-sm fade center-modal" id="loading-modal">
    <img src="~/Content/images/ajax-loader.gif" />
</div>
