﻿@model IEnumerable<RentACar.DAL.Klijent>
@{
    ViewBag.Title = "Klijenti";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".obrisi-klijenta").click(function (e) {
            e.preventDefault();
            var klijentID = $(this).closest("tr")
                                   .find(".klijent-id")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete klijenta?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/Klijent/ObrisiKlijenta",
                    data: "ID=" + klijentID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Klijent je uspješno izbrisan.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja klijenta.");
                        }

                    }
                });
            }
        });
    });
</script>



<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Prezime</th>
                    <th>JMBG</th>
                    <th>Broj lične karte</th>
                    <th>Broj vozačke dozvole</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var klijent in Model)
                {
                    <tr>
                        <td class="hidden klijent-id">@klijent.ID</td>
                        <td>@klijent.Ime</td>
                        <td>@klijent.Prezime</td>
                        <td>@klijent.JMBG</td>
                        <td>@klijent.BrojLK</td>
                        <td>@klijent.BrojVD</td>
                        <td>@klijent.Email</td>
                        <td><a class="btn btn-danger obrisi-klijenta" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>