﻿@model RentACar.Models.Klijent
@{
    ViewBag.Title = "Novi klijent";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-klijent").validate({
            rules: {
                Ime: {
                    required: true,
                    minlength: 2
                },
                Prezime: {
                    required: true,
                    minlength: 2
                },
                JMBG: {
                    required: true,
                    minlength: 13,
                    maxlength: 13,
                    number: true
                },
                BrojLK: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                BrojVD: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                Email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("KreirajKlijenta", "Klijent", FormMethod.Post, new { @id="forma-klijent" }))
        {
            @Html.ValidationSummary(true, "Čuvanje klijenta nije uspjelo.");
            <div>
                <fieldset>
                    <legend>Detalji klijenta</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Ime</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Ime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Ime, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Prezime</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Prezime, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Prezime, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>JMBG</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.JMBG, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(u => u.JMBG, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj lične karte</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.BrojLK, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.BrojLK, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj vozačke dozvole</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.BrojVD, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.BrojVD, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Email</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type = "email" })
                                @Html.ValidationMessageFor(u => u.Email)
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Klijent", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
