﻿
@{
    ViewBag.Title = "MojiZakupi";
}

<div class="row">
    <div class="col-md-12">
        <h3>Lista rezervacija</h3>
        @foreach (var zakup in ViewBag.Zakupi)
        {
            <ul>
                <li>Filijala: @zakup.Filijala.Naziv</li>
                <li>Vozilo: @zakup.Vozilo.ModelVozila.Proizvodjac.Naziv @zakup.Vozilo.ModelVozila.Naziv (@zakup.Vozilo.GodinaProizvodnje)</li>
                <li>Datum rezervacije: @String.Format("{0:dd/MM/yyyy}", zakup.DatumZakupa)</li>
                <li>Datum povratka: @String.Format("{0:dd/MM/yyyy}", zakup.DatumPovratka)</li>
                <li>Status: @zakup.ZakupStatu.Naziv</li>
                <li>Ukupno za uplatu: @zakup.Ukupno</li>
            </ul>
        }
    </div>
</div>



