﻿@{
    ViewBag.Title = "Početna";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('body').addClass('pocetna-pozadina');
        $('body').addClass('footer-text');

        PorukeValidacija();

        var zakupID = guid();

        $('#sacuvaj-pocetni-upit').click(function (e) {
            e.preventDefault();
            if ($('#forma-pocetni-upit').valid()) {
                $.ajax({
                    type: "POST",
                    url: "/Zakup/KreirajZakup",
                    data: JSON.stringify({
                        DatumZakupa: $('#DatumZakupa').val(),
                        DatumPovratka: $('#DatumPovratka').val(),
                        FilijalaID: $('#FilijalaLista').val(),
                        StatusID: "1",
                        SifraZakupa: SerijskiBroj(),
                        ID: zakupID
                    }),
                    contentType: 'application/json; charset=utf-8',
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            var url = "/Zakup/UrediZakup?ID=" + zakupID;
                            window.location.href = url;
                        }
                        else {
                            alert("Došlo je do greške prilikom čuvanja rezervacije.");
                        }

                    }
                });
            }
        });

        $('#postojeci-klijent').addClass('hidden');

        $('#novi-klijent').click(function () {
            $('#novi-klijent').addClass('active');
            $('#klijent-povratnik').removeClass('active');
            $('#pocetni-upit').removeClass('hidden');
            $('#postojeci-klijent').addClass('hidden');
        });

        $('#klijent-povratnik').click(function () {
            $('#klijent-povratnik').addClass('active');
            $('#pocetni-upit').addClass('hidden');
            $('#postojeci-klijent').removeClass('hidden');
            $('#novi-klijent').removeClass('active');
        });

        $("#forma-moj-nalog").validate({
            rules: {
                EmailMojNalog: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $('#moj-nalog').click(function (e) {
            e.preventDefault();

            var url = "/Klijent/UrediMojNalog?Email=" + $('#email-moj-nalog').val();
            window.location.href = url;

        });
    });
</script>

<div class="jumbotron margin-top-20">
    <h1>RentACar</h1>
    <p class="lead">RentACar</b> je rent a car agencija koju karakteriše kvalitet voznog parka, odlične cijene i korisnički uslovi, kao i susretljivi zaposlenici koji su spremni da odgovore na zahtjeve klijenata, u svakom trenutku.</p>
    <p><a href="/Home/About" class="btn btn-primary btn-lg">Više &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel dark-panel panel-default">
            <div class="panel-body">
                <h2>Rezervacija</h2>
                <ul class="nav nav-tabs">
                    <li class="active" id="novi-klijent"><a href="#">Novi klijent</a></li>
                    <li id="klijent-povratnik"><a href="#">Postojeći klijent</a></li>
                </ul>
                <div id="pocetni-upit">
                    @{Html.RenderPartial("PocetniUpit");}
                </div>
                <div id="postojeci-klijent">
                    @{Html.RenderPartial("PostojeciKlijent");}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel dark-panel panel-default">
            <div class="panel-body">
                <h2>Moj nalog</h2>
                <form id="forma-moj-nalog">
                    <div class="form-group margin-top-20">
                        <label class="standardni-font">Email</label>
                        <input type="email" name="EmailMojNalog" id="email-moj-nalog" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button type="submit" id="moj-nalog" class="btn btn-primary">Potvrdi</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>