﻿@{
    ViewBag.Title = "Kontakt";
}

<script src="http://maps.google.com/maps/api/js?key=AIzaSyCOpoYwcZyNYCEthyAKiGeSbTYGbyT3Zk4&sensor=true"></script>
<script type="text/javascript" src="~/Scripts/gmaps.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var latlng = new google.maps.LatLng(44.78, 17.19);
        var bounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('kontakt_mapa'), {
            zoom: 7,
            center: latlng,
            zoomControl: true
        });

        var geocoder = new google.maps.Geocoder();

        @{foreach (var filijala in ViewBag.Filijale)
        { 
        <text>
        var adresa = '@filijala.Naziv,<br/>@filijala.Adresa,<br/>@filijala.Grad.Naziv';
        var infowindow = new google.maps.InfoWindow();
        DodajMarkere(adresa);
        </text>
        }
        }
        function DodajMarkere(adresa) {
            geocoder.geocode({ 'address': adresa }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    var marker = new google.maps.Marker({
                        map: map,
                        position: results[0].geometry.location
                    });

                    bounds.extend(marker.position);

                    google.maps.event.addListener(marker, 'mouseover', function () {
                        infowindow.setContent(adresa);
                        infowindow.open(map, marker);

                    });

                    map.fitBounds(bounds);
                }
            });
        }
    });

    
</script>

<div class="page-header"><h1>@ViewBag.Title</h1></div>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-4" id="kontakt-adresa">
            <h2>Filijale</h2>
            @foreach (var filijala in ViewBag.Filijale)
            {
                <address>
                    <i class="glyphicon glyphicon-home"></i>
                    @filijala.Naziv <br />
                    <i class="glyphicon glyphicon-road"></i>
                    @filijala.Adresa, @filijala.Grad.Naziv<br />
                    <i class="glyphicon glyphicon-phone-alt"></i>
                    @filijala.Grad.PozivniBroj @filijala.BrojTelefona
                </address>
                <hr />
            }
            <address>
                <i class="glyphicon glyphicon-envelope"></i> <a href="mailto:rentacarnc@gmail.com">rentacarnc@gmail.com</a><br />
            </address>
        </div>
        <div class="col-md-8" id="kontakt_mapa"></div>
    </div>
</div>