﻿@{
    ViewBag.Title = "O nama";
}
<div class="page-header">
    <h2>@ViewBag.Title</h2>
</div>
<div class="row">
    <div class="col-md-12">
        <img src="~/Slike/auta.png" alt="Alternate Text" width="600" class="center-block"/><br />
        <p><b>RentACar</b> je rent a car agencija koju karakteriše kvalitet voznog parka, odlične cijene i korisnički uslovi, kao i susretljivi zaposlenici koji su spremni da odgovore na zahtjeve klijenata, u svakom trenutku. Naše usluge rezervacije vozila nudimo u velikom broju filijala širom BiH.</p>
        <p>Iskreno se nadamo da ćete prepoznati naš kvalitet usluga i postati dio velike grupe naših zadovoljnih klijenata. S druge strane, mi ćemo se dati sve od sebe da opravdamo Vaše povjerenje.</p>
        <p>RentACar tim</p>
    </div>
</div>

