﻿@model RentACar.Models.Klijent


<script type="text/javascript">
    $(document).ready(function () {
        var klijentID = guid();
        var zakupID = guid();
        $('#postojeci-klijent-upit').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "Klijent/DetaljiKlijenta",
                data: "Email=" + $('#Email').val(),
                success: function (rezultat) {
                    if (rezultat != "ERROR") {
                        $('#klijent-ime').val(rezultat.Ime);
                        $('#klijent-prezime').val(rezultat.Prezime);
                        $('#klijent-jmbg').val(rezultat.JMBG);
                        $('#klijent-brojLK').val(rezultat.BrojLK);
                        $('#klijent-brojVD').val(rezultat.BrojVD);
                        $('#klijent-telefon').val(rezultat.BrojTelefona);
                        $('#klijent-email').val(rezultat.Email);
                        $('#klijent-email').attr('readonly', 'readonly');
                        klijentID = rezultat.ID;

                        $.ajax({
                            type: "GET",
                            url: "/Zakup/DohvatiSvaVozila",
                            contentType: 'application/json; charset=utf-8',
                            success: function (rezultat) {
                                $('#VoziloLista').select2({
                                    data: rezultat,
                                    placeholder: "Izaberite vozilo..."
                                });
                            }
                        });
                    }
                }
            });
        });

        $('#kreiraj-zakup').click(function (e) {
            e.preventDefault();

            var url = "/Zakup/KreirajZakup?Email=" + $('#Email').val();
            window.location.href = url;

        });
    });
</script>

<div class="form-group margin-top-20">
    <label>Email</label>
    @Html.TextBoxFor(u => u.Email, new { @class = "form-control"})
</div>
<div class="form-group">
    <button type="submit" id="kreiraj-zakup" class="btn btn-primary">Rezerviši</button>
</div>