﻿@model IEnumerable<RentACar.DAL.ModelVozila>
@{
    ViewBag.Title = "Modeli vozila";
    Layout = null;
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-model-vozila").click(function (e) {
            e.preventDefault();
            var modelVozilaID = $(this).closest("tr")
                                   .find(".modelVozila-id")     
                                   .text();

            var modelVozilaNaziv = $(this).closest("tr")
                                   .find(".modelVozila-naziv")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete model vozila " + modelVozilaNaziv + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/ModelVozila/ObrisiModelVozila",
                    data: "ID=" + modelVozilaID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert(modelVozilaNaziv + " je uspješno obrisan");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja modela vozila " + modelVozilaNaziv);
                        }
                        
                    }
                });
            }
        });
    });
</script>
<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("KreirajModelVozila", "ModelVozila")"><i class="glyphicon glyphicon-plus"></i> Novi model</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Proizvođač</th>
                    <th>Transmisija</th>
                    <th>Tip vozila</th>
                    <th>Tip goriva</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="modelVozila-tabela">
                @if (Model != null && Model.Any())
                {
                    foreach (var modelVozila in Model)
                    {
                        <tr>
                            <td class="hidden modelVozila-id">@modelVozila.ID</td>
                            <td class="modelVozila-naziv">@modelVozila.Naziv</td>
                            <td>@modelVozila.Proizvodjac.Naziv</td>
                            <td>
                                @if (modelVozila.Automatik)
                                {
                                    <text>Automatska</text>
                                }
                                else
                                {
                                    <text>Manuelna</text>
                                }
                            </td>
                            <td>@modelVozila.TipVozila.Naziv</td>
                            <td>@modelVozila.TipGoriva.Naziv</td>
                            <td>
                                <a class="btn btn-default" href="@Url.Action("UrediModelVozila", "ModelVozila", new { ID = modelVozila.ID })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                                <a class="btn btn-danger obrisi-model-vozila" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>