﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.pocetna-pozadina{
    background-image: url("/Slike/bg.jpg");
    background-repeat: no-repeat;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.select2-close-mask{
    z-index: 2099 !important;
}
.select2-dropdown{
    z-index: 3051 !important;
}

/*.select2-container {
    width: 100% !important;
    padding: 0;
}*/

#vozilo-slika{
    float: right;
    max-width: 250px;
    padding: 10px;
}

#vozilo-opis{
    float: left;
    padding: 10px;
}

#cijena-rezervacije{
    float: left;
    padding: 10px;
}

.modal.modal-large .modal-dialog {
  width: 90%;
}
.modal-large .modal-body {
  overflow-y: auto;
}

.margin-top-20{
    margin-top: 20px;
}

.error{
    color: #B94A48;
}

.vozilo-boja{
    padding-left: 15px; border:1px solid; border-radius: 5px;
}

.dark-panel{
    background-color: #2a2a2a;
    color: white;
    height: 350px;
}

.dark-panel a{
    color: white;
}

.dark-panel a:hover{
    color: #2a2a2a;
}

.standardni-font{
    font-weight: normal !important;
}

.podaci-korisnika{
    float: right;
}

.footer-text footer{
    color: white;
    background-color: #222222; 
}

#kontakt_mapa{
    height: 400px;
    float: right;
}

#kontakt_adresa{
    float: left;
}

#zakup-dijagram{
    width: 100%;
    height: 300px;
}

.panel-kontrole{
    float: right;
}

#topvozila li{
    padding: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #D9EDF7;
}

#promet-filijala li{
    padding: 10px;
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: #DFF0D8;
}

#promet-filijala{
    list-style-type: none;
}

.topvozila-slika{
    border-radius: 50%;
}

.center-modal{
    margin-right:auto;
    margin-left:auto;
    margin-top: 20%;
}