﻿@model IEnumerable<RentACar.DAL.Grad>
@{
    ViewBag.Title = "Gradovi";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".obrisi-grad").click(function (e) {
            e.preventDefault();
            var gradID = $(this).closest("tr")
                                   .find(".grad-id")
                                   .text();
            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete grad?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/Grad/ObrisiGrad",
                    data: "ID=" + gradID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Grad je uspješno izbrisan.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja grada.");
                        }

                    }
                });
            }
        });
    });
</script>



<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("KreirajGrad", "Grad")"><i class="glyphicon glyphicon-plus"></i> Novi grad</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Pozivni broj</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var grad in Model)
                {
                    <tr>
                        <td class="hidden grad-id">@grad.ID</td>
                        <td>@grad.Naziv</td>
                        <td>@grad.PozivniBroj</td>
                        <td><a class="btn btn-default" href="@Url.Action("UrediGrad", "Grad", new { ID = grad.ID })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger obrisi-grad" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>