﻿@model RentACar.Models.Grad
@{
    ViewBag.Title = "Uredi grad";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        PorukeValidacija();
        $("#forma-grad").validate({
            rules: {
                Naziv: {
                    required: true,
                    minlength: 2
                },
                PozivniBroj: {
                    required: true,
                    minlength: 3,
                    maxlength: 3
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>


<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("UrediGrad", "Grad", FormMethod.Post, new { @id = "forma-grad" }))
        {
            @Html.ValidationSummary(true, "Čuvanje grada nije uspjelo.");
            <div>
                <fieldset>
                    <legend>Detalji grada</legend>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Naziv</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.Naziv, new { @class = "form-control", @readonly = "" })
                            @Html.ValidationMessageFor(u => u.Naziv, null, new { @class = "inline-help error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Pozivni broj</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.PozivniBroj, new { @class = "form-control", @type = "number" })
                            @Html.ValidationMessageFor(u => u.PozivniBroj, null, new { @class = "inline-help error" })
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Grad", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
