﻿@model IEnumerable<RentACar.DAL.Proizvodjac>
@{
    ViewBag.Title = "Proizvođači";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".obrisi-proizvodjaca").click(function (e) {
            e.preventDefault();
            var proizvodjacID = $(this).closest("tr")
                                   .find(".proizvodjac-id")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete proizvođača?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/Proizvodjac/ObrisiProizvodjaca",
                    data: "ID=" + proizvodjacID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Proizvođač je uspješno izbrisan.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja proizvođača.");
                        }

                    }
                });
            }
        });
    });
</script>



<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("KreirajProizvodjaca", "Proizvodjac")"><i class="glyphicon glyphicon-plus"></i> Novi proizvođač</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Logo</th>
                    <th>Naziv</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    foreach (var proizvodjac in Model)
                    {
                        <tr>
                            <td class="hidden proizvodjac-id">@proizvodjac.ID</td>
                            @if (proizvodjac.Logo != null)
                            {
                                <td><img width="50" alt="@proizvodjac.Naziv" src="@proizvodjac.Logo" /></td>
                            }
                            else
                            {
                                <td><img width="50" alt="@proizvodjac.Naziv" src="/Slike/bez-slike.png" /></td>
                            }
                            <td>@proizvodjac.Naziv</td>
                            <td>
                                <a class="btn btn-default" href="@Url.Action("UrediProizvodjaca", "Proizvodjac", new { ID = proizvodjac.ID })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                                <a class="btn btn-danger obrisi-proizvodjaca" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>