﻿@model RentACar.Models.Proizvodjac
@{
    ViewBag.Title = "Uredi proizvođača";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-proizvodjac").validate({
            rules: {
                Naziv: {
                    required: true,
                    minlength: 2
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $("#FileUpload").on('change', function () {
            $('#Logo').val("/Slike/Proizvodjaci/" + document.getElementById("FileUpload").files[0].name);
        });

        $("#sacuvaj-proizvodjaca").on("click", function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '/Proizvodjac/SacuvajSliku',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (rezultat) {
                    if (rezultat != "ERROR")
                        $('#Logo').val(rezultat);
                },
                error: function (error) {
                    alert("error");
                }
            });
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("UrediProizvodjaca", "Proizvodjac", FormMethod.Post, new { @id="forma-proizvodjac" }))
        {
            @Html.ValidationSummary(true, "Čuvanje proizvođača nije uspjelo.");
            <div>
                <fieldset>
                    <legend>Detalji proizvođača</legend>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Naziv</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.Naziv, new { @class = "form-control", @readonly = "" })
                            @Html.ValidationMessageFor(u => u.Naziv, null, new { @class = "inline-help error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Logo</label>
                        @Html.TextBoxFor(u => u.Logo, new { @class = "form-control", @type = "text", @readonly = "" }) &nbsp;
                        <input type="file" id="FileUpload" multiple />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" id="sacuvaj-proizvodjaca" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Proizvodjac", null, new { @class = "btn btn-default", @id = "odustani" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
