﻿@model IEnumerable<RentACar.DAL.Filijala>
@{
    ViewBag.Title = "Filijale";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-filijalu").click(function (e) {
            e.preventDefault();
            var filijalaID = $(this).closest("tr")
                                   .find(".filijala-id")     
                                   .text();

            var filijalaNaziv = $(this).closest("tr")
                                   .find(".filijala-naziv")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete filijalu " + filijalaNaziv + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "/Filijala/ObrisiFilijalu",
                    data: "ID=" + filijalaID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert(filijalaNaziv + " je uspješno obrisana");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja filijale " + filijalaNaziv);
                        }
                        
                    }
                });
            }
        });
    });
</script>

<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("KreirajFilijalu", "Filijala")"><i class="glyphicon glyphicon-plus"></i> Nova filijala</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Adresa</th>
                    <th>Grad</th>
                    <th>Broj telefona</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="filijala-tabela">
                @foreach (var filijala in Model)
                {
                    <tr>
                        <td class="hidden filijala-id">@filijala.ID</td>
                        <td class="filijala-naziv">@filijala.Naziv</td>
                        <td>@filijala.Adresa</td>
                        <td>@filijala.Grad.Naziv</td>
                        <td>@filijala.Grad.PozivniBroj @filijala.BrojTelefona</td>
                        <td>
                            <a class="btn btn-default" href="@Url.Action("UrediFilijalu", "Filijala", new { ID = filijala.ID })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger obrisi-filijalu" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>