﻿@model RentACar.Models.Filijala
@{
    ViewBag.Title = "Nova filijala";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        PorukeValidacija();

        $('#GradLista').select2({ placeholder: "Izaberite grad..." });

        $.ajax({
            type: "GET",
            url: "/Filijala/DohvatiGrad",
            data: "ID=" + $("#GradLista").val(),
            contentType: 'application/json; charset=utf-8',
            success: function (rezultat) {
                if (rezultat != null) {
                    $('#pozivni-za-grad').text(rezultat.PozivniBroj);
                }

            }
        });

        $('#GradLista').select2().on("change", function () {
            $.ajax({
                type: "GET",
                url: "/Filijala/DohvatiGrad",
                data: "ID=" + $("#GradLista").val(),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat != null) {
                        $('#pozivni-za-grad').text(rezultat.PozivniBroj);
                    }

                }
            });
        });

        $('#novi-grad').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "/Grad/KreirajGrad",
                data: JSON.stringify({
                    isModal: true,
                    Naziv: $('#grad-naziv').val(),
                    PozivniBroj: $('#grad-pozivniBroj').val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat == "OK") {
                        location.reload();
                    }
                    else {
                        alert("Došlo je do greške prilikom čuvanja grada.");
                    }

                }
            });
        });

        $("#forma-filijala").validate({
            rules: {
                Naziv: {
                    required: true,
                    minlength: 2
                },
                Adresa: {
                    required: true,
                    minlength: 2
                },
                BrojTelefona: {
                    required: true,
                    minlength: 6,
                    maxlength: 7,
                    digits: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });

</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("KreirajFilijalu", "Filijala", FormMethod.Post, new { @id = "forma-filijala" }))
        {
            <span class="error">@Html.ValidationSummary(true, "Čuvanje filijale nije uspjelo.")</span>
            <div>
                <fieldset>
                    <legend>Detalji filijale</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Naziv</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Naziv, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Naziv, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Adresa</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Adresa, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Adresa, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Grad</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.GradID, (IEnumerable<SelectListItem>)ViewBag.Gradovi, new { @id = "GradLista", @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.GradID, null, new { @class = "inline-help error" })
                                <!-- Aktiviraj proizvođači modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#grad-modal">
                                    <i class="glyphicon glyphicon-plus"></i> Dodaj grad
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj telefona</label>
                            </div>
                            <div class="editor-field">
                                <i class="glyphicon glyphicon-phone"></i> <span id="pozivni-za-grad"></span>
                                @Html.TextBoxFor(u => u.BrojTelefona, new { @class = "form-control", @type = "number" })
                                @Html.ValidationMessageFor(u => u.BrojTelefona, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Filijala", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

@*Modal grada*@
<div class="modal fade" id="grad-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novi grad</h4>
            </div>
            <div class="modal-body">
                <form method="post" name="NoviGrad" id="forma-grada">
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Naziv</label>
                        </div>
                        <div class="editor-field">
                            <input type="text" name="Naziv" id="grad-naziv" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Pozivni broj</label>
                        </div>
                        <div class="editor-field">
                            <input type="number" name="PozivniBroj" id="grad-pozivniBroj" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="novi-grad" class="btn btn-primary">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
